<%- model_class = DealHunter -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= render 'form', deal_hunter: @deal_hunter %>

<%= link_to 'Show', @deal_hunter %> |
<%= link_to 'Back', deal_hunters_path %>
