@import "/*";
@import "bootstrap";
@import "tether";
.imagesize{
	height: 150px;
	width: 150px;
}

  body {
     margin: 0;
     background: url(bg5.jpg);
 }

 img.innovation-show{
 	width: 600;
 	height: auto;
 }

 .innovation-box{
	height: 600px;
	position: relative;
	box-shadow: 10px 10px 5px #888888;
	background: #bdc3c7;
 }

 .innovation-box ul{
 	list-style-type: none;
 	position: absolute;
 	bottom: 0;
 }

  .innovation-box li:first-child{
 	font-size: 24px;
 }

  img.innovation-index {
 	width: 100%;
 	height: 80%;
 	object-fit: cover;
 }

